body {
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	text-align: center;
}

blockquote {
	font-style: italic;
	text-align: center;
	font-weight: 600;
}

.logo {
	text-align: center;
}

.logo img {
	height: 128px;
}
abbr{
	text-decoration: underline;
}
.distros {
	padding: 0;
}

.distros li {
	display: inline-block;
	list-style-type: none;
	padding: 1em;
}

.distros li a img {
	height: 64px;
	line-height: 64px;
	vertical-align: middle;
}

.strike {
	text-decoration: line-through;
}
